/** Color Palette**/

body{
    margin: 0 auto;
    width: 100%;
}
:root {
    --purple: #6357ff;
    --deep-purple: #6660ff;
    --light-purple: #c8c4ff;
    --white: #ffffff;
    --black: #000000;
}

nav, header{
    background-color: var(--purple);
}

.header-logos{
    width: 80px;
    height: 80px;
}

.header-logos-figure{
    margin:0;
}

.header-nav{
    display: flex;
    justify-content: space-between;
}

.aside-header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.header-menu-icon{
    font-size:20px;
    margin: 0.5em;
    color: var(--white);
}

.header-section-container{
    display: flex;
    justify-content:space-between;
}

.header-section{
    width: 50%;
    margin: 5%;
    color: var(--white);
}

/**Background-image**/
.header-section-figure{
    width:100%;
    display: flex;
    justify-content: center;
    background-image: url(/assets/img/joren-aranas-nmuyqgSOpEE-unsplash_1_50.jpg);
    background-position: 50% 40%;
    background-size: cover;
}

.section-agency__figure{
    width:100%;
    display: flex;
    justify-content: center;
    background-image: url(/assets/img/domenico-loia-hGV2TfOh0ns-unsplash.jpg);
    background-size: cover;
    margin: 0;
}

h2{
    font-size:35px;
}

h3 {
    font-size:15px;
    font-family: 'Open Sans', sans-serif;
}

.h3--size {
    font-size:20px; 
    font-weight: lighter;
    padding-bottom: 30px;    
}

.header-section-img,.main-section-img{
    width: 50%;
    height: auto;
}

.header-section-btn{
    padding: 20px;
    background-color: var(--white);
    color: var(--black);
    font-weight:bold;
    text-decoration: none;
    border-radius: 5px;
}

/**Section About agency**/

.main__section-agency, .main-section__services{
    display: flex;
}
.section-agency{
    width: 50%;
    padding: 3%;
    background-color: var(--black);
    color: var(--white);
}

.section-agency__figure{
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: var(--white);
}

/* Section our services*/

.section-services__container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.section-services{
    padding: 3%;
}

.contained__services{
    width: 50%;
}

.fa-check-to-slot{
    color: var(--purple);
    font-size: 1.5rem;
    margin: 0.5em;
}

.services-title--inline{
    display: inline;
}

.section-services__figure{
    width:100%;
    display: flex;
    justify-content: center;
    background-image: url(/assets/img/matthew-cabret-9Z_bNTvBiqM-unsplash.jpg);
    background-size: cover;
    background-position: 50% 30%;
    margin: 1em;
}

.title--purple{
    color: var(--purple);
}

/**Section our works**/
.title--centered{
    text-align: center;
}

.section-portfolio__container{
    display: flex;
    justify-content: space-evenly;
}

.portfolio-images{
    width: 100%;
    height: auto;
}

/*Section our team*/
.section-team__container{
    display:flex;
    justify-content:space-between
}

.team-card{
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.team-card_figure{
    margin: 0;
    background-color: var(--purple);
}

.team-card__img{
    width: 100%;
    height:auto;
}

.team-card__informations{
    display: flex; 
    justify-content:space-around;
    text-align: center;
    background-color: var(--purple);
    color: var(--white);
}

.team-card__socialMedia{
    align-self: center;
    font-size: 16px;
}

.icon--margin{
    margin: 0.5em;
}