/** Color Palette**/

/** Hiérarchisation du CSS
•le positionnement. Exemple : display, margin, padding 

•le dimensionnement. Exemple : width, height, min-width 

•la typographie. Exemple : font-size, font-weight, color 

•le fond. Exemple : background, background-color 

•les bordures. Exemple : border, border-radius, box-shadow 

•le reste. Exemple : transition, rotate 
**/

body{
    margin: 0 auto;
    width: 100%;
}
:root {
    --purple: #6357ff;
    --deep-purple: #6660ff;
    --light-purple: #c8c4ff;
    --white: #ffffff;
    --black: #000000;
}

nav, header{
    background-color: var(--purple);
}

.header-logos{
    width: 80px;
    height: 80px;
}

.header-logos-figure{
    margin:0;
}

.header-nav{
    display: flex;
    justify-content: space-between;
}

.aside-header-menu{
    margin: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-icon{
    margin: 0.5em;
    font-size:20px;
    color: var(--white);
}

.header-section-container{
    display: flex;
    justify-content:space-between;
}

.header-section{
    margin: 5%;
    width: 50%;
    color: var(--white);
}

/**Background-image**/
.header-section-figure{
    display: flex;
    justify-content: center;
    width:100%;
    background-image: url(/assets/img/joren-aranas-nmuyqgSOpEE-unsplash_1_50.jpg);
    background-position: 50% 40%;
    background-size: cover;
}

.section-agency__figure{
    margin: 0;
    display: flex;
    justify-content: center;
    width:100%;    
    background-image: url(/assets/img/domenico-loia-hGV2TfOh0ns-unsplash.jpg);
    background-size: cover;
}

h2{
    font-size:35px;
}

h3, textarea {
    font-size:15px;
    font-family: 'Open Sans', sans-serif;
}

.h3--size {
    padding-bottom: 30px;  
    font-size:20px; 
    font-weight: lighter;  
}

.header-section-img,.main-section-img{
    width: 50%;
    height: auto;
}

.header-section-btn{
    padding: 20px;
    color: var(--black);
    font-weight:bold;
    text-decoration: none;
    background-color: var(--white);
    border-radius: 5px;
}

/**Section About agency**/

.main__section-agency, .main-section__services{
    display: flex;
}
.section-agency{
    padding: 3%;
    width: 50%;
    color: var(--white);
    background-color: var(--black);
}

.section-agency__figure{
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: var(--white);
}

/* Section our services*/

.section-services__container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.section-services{
    padding: 3%;
}

.contained__services{
    width: 50%;
}

.fa-check-to-slot{
    margin: 0.5em;
    color: var(--purple);
    font-size: 1.5rem;
}

.services-title--inlinen,.icon--inline{
    display: inline;
}

.section-services__figure{
    display: flex;
    justify-content: center;
    width:100%;
    margin: 1em;
    background-image: url(/assets/img/matthew-cabret-9Z_bNTvBiqM-unsplash.jpg);
    background-size: cover;
    background-position: 50% 30%;
}

.title--purple{
    color: var(--purple);
}

/**Section our works**/
.title--centered{
    text-align: center;
}

.section-portfolio__container{
    display: flex;
    justify-content: space-evenly;
}

.portfolio-images{
    width: 250px;
    height: auto;
}

/*Section our team*/
.section-team__container{
    display:flex;
    justify-content:space-between
}

.team-card{
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.team-card_figure{
    margin: 0;
    background-color: var(--purple);
}

.team-card__img{
    width: 350px;
    height:auto;
}

.team-card__informations{
    display: flex; 
    justify-content:space-around;
    color: var(--white);
    text-align: center;
    background-color: var(--purple);
}

.team-card__socialMedia{
    align-self: center;
    font-size: 16px;
}

.icon--margin{
    margin: 0.5em;
}

/* Section Contact Us */

.section-contact{
    display: flex;
    justify-content:space-between;
    margin-top: 5rem;
}

.section-contact__container{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-contact{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
}

.section-contact__localisation-block{
    display: flex;
    width: 50%;
    background-color: var(--deep-purple);
}

.localisation-block__figure{
    display: flex;
    align-items: center;
    width: 50%;
}

.localisation-maps{
    width: 450px;
}

.localisation-block__infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

address, address>a{
    margin-bottom: 2.5rem;
    color: var(--white);
    text-align: center;
}

.icon--white,.text--white{
    color: var(--white);
}

a[href*="mailto"],a[href*="tel"]{
    text-decoration: none;
}

a[href*="mailto"]:hover,a[href*="tel"]:hover{
    text-decoration: underline overline var(--white) ;
}


input[type="text"],input[type="email"],textarea{
    margin: 1rem;
    padding: 0.5rem;
    width: 100%;
    font-size: 15px;
    border:none;
    border-bottom: 1px solid gray;
}

textarea{
    color:gray;
}

.form-btn{
    margin: 1rem;
    padding: 20px;
    color: var(--white);
    font-weight:bold;
    text-decoration: none;
    background-color: var(--deep-purple);
    border-radius: 2.5px;
    border: none;
    -webkit-box-shadow: 8px 9px 27px 6px #C8C4FF; 
box-shadow: 8px 9px 27px 6px #C8C4FF;
width: 50%;
}

footer{
    text-align: center;
}
