/** Color Palette**/

:root {
    --purple: #6357ff;
    --deep-purple: #6660ff;
    --light-purple: #c8c4ff;
    --white: #ffffff;
    --black: #000000;
}

nav{
    background-color: pink;
}

.header-logos{
    width: 80px;
    height: 80px;
}

.header-logos-figure{
    margin:0;
}

.header-nav{
    display: flex;
    justify-content: space-between;
}

.aside-header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    box-sizing: border-box;
}

.header-menu-icon{
    font-size:20px;
    color: var(--white);
    margin: 0.5em;
}

.header-section-container{
    background-color:lightgreen;
    display: flex;
    justify-content:space-between;
}

.header-section{
    width: 50%;
    margin: 5%;
}

.header-section-figure{
    width:50%;
    display: flex;
    justify-content: center;
}

h2{
    font-size:35px;
}

h3 {
    font-size:15px;
    font-family: 'Open Sans', sans-serif;
}

.h3--size {
    font-size:20px; 
    font-weight: lighter;
    padding-bottom: 30px;    
}

.header-section-img{
    width: 45%;
    height: auto;
}

.header-section-btn{
    padding: 20px;
    background-color: var(--white);
    color: var(--black);
    font-weight:bold;
    text-decoration: none;
    border-radius: 5px;
}


img{
    width:30px;
    height:30px;
}